.bg-gray {
  background-color: #f0f2f5;
}
.fs-0 {
  font-size: 4rem;
}
.fs-7 {
  font-size: 0.8rem;
}
/* nav button */
.nav__btn button:hover {
  background: #f0f2f5 !important;
}
.nav__btn button:hover i {
  color: #0d6efd !important;
}
.nav__btn-active i {
  color: #0d6efd !important;
}
.nav__btn-active {
  position: relative;
}
.nav__btn-active:before {
  content: "";
  position: absolute;
  bottom: -4.5px;
  left: 0;
  transform: translate(0, 4.5px);
  width: 100%;
  height: 3px;
  border-bottom: 3px solid #0d6efd !important;
}
/* dropdown */
.dropdown-item:active {
  background-color: #d5d5d5 !important;
}
/* chat box */
.modal-content:hover .fa-phone-alt {
  color: #0d6efd !important;
}
.modal-content:hover .fa-video {
  color: #0d6efd !important;
}
.modal-content:hover .fa-file-image {
  color: #0d6efd !important;
}
.modal-content:hover .fa-plus-circle {
  color: #0d6efd !important;
}
.modal-content:hover .fa-portrait {
  color: #0d6efd !important;
}
.modal-content:hover .fa-adjust {
  color: #0d6efd !important;
}
.modal-content:hover .fa-thumbs-up {
  color: #0d6efd !important;
}
/* edit */
.edit-button {
  opacity: 0;
}
.edit-button:hover {
  opacity: 1;
}
.edit-heading:hover .edit-button {
  opacity: 1;
}
/* scrollbar */
.scrollbar:hover {
  overflow: auto !important;
}
/* sponsor */
.sponsor-icon {
  opacity: 0;
}
.dropdown-item:hover .sponsor-icon {
  opacity: 1;
}
/* popover */
.pop-avatar {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}
.chat-box {
  border: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* stories */
.story:hover {
  opacity: 0.8;
}
.pointer {
  cursor: pointer;
}
/* comment */
.post__comment .accordion-button::after {
  margin-left: 0 !important;
  display: none !important;
}
.post__comment .accordion-button:hover {
  background: transparent !important;
  border-color: transparent !important;
}
.post__comment .accordion-button:not(.collapsed) {
  background: transparent !important;
}
.post__comment .accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
@media (min-width: 62em) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}




.avatar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.avatar img {
  width: 68px;
  height: 68px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.greeting {
  font-size: 24px;
}

.section-title {
  font-size: 20px;
  margin-top: 20px;
}

.dropdown-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
}

.dropdown-button:hover {
  background-color: #0056b3;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}



.modal-header .close {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.modal-header .close span {
  color: #0000ff;
}


.modal-dialog {
  max-width: 400px;
}

.modal-content {
  border-radius: 10px;
  background-color: #ffffff;
}

.modal-footer {
  padding: 10px;
  background-color: #ffffff;
}

.chat-message {
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
}

.chat-message.sent {
  background-color: #000000;
  color: #ffffff;
}

.info-cuenta {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.fondo-oscuro {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(57, 143, 180, 0.495); /* Ajusta la opacidad según tus necesidades */
  z-index: 999; /* Un valor menor que el z-index de la sección de información de la cuenta */}

  /* Agrega estilos para la tarjeta y el botón de cierre */
.card {
  position: relative;
}

.close {
  position: absolute;
  top: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
  right: 10px; /* Ajusta la distancia desde la parte derecha según tus necesidades */
  background: none;
  border: none;
  font-size: 1.5rem; /* Ajusta el tamaño del icono según tus necesidades */
  color: red;
  cursor: pointer;
}
